@model IEnumerable<PersonManagementApp.Models.Person>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Person List
           
             <p class="my-2 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>

            <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="block text-white my-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium w-fit rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
              Add Person
            </button>
        </caption>

        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                </th>
                <th scope="col" class="px-6 py-3">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Gender
                </th>
                <th scope="col" class="px-6 py-3">
                    Religion
                </th>
                <th scope="col" class="px-6 py-3">
                    Birth Place
                </th>
                <th scope="col" class="px-6 py-3">
                    Birth Date
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
           
           @foreach (var person in Model) {
             <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    @person.PersonId
                </th>
                <td class="px-6 py-4">
                    @person.FirstName
                </td>
                <td class="px-6 py-4">
                    @person.LastName
                </td>
                <td class="px-6 py-4">
                    @person.Gender
                </td>
                <td class="px-6 py-4">
                    @person.Religion
                </td>
                <td class="px-6 py-4">
                    @person.BirthPlace
                </td>
                <td class="px-6 py-4 w-fit">
                    @person.DateOfBirth
                </td>
                <td class="px-6 py-4 text-right flex w-fit gap-4">
                    
                    <form asp-action="DeletePerson" asp-controller="Persons" method="post">
                        <input type="hidden" value="@person.PersonId" name="personId">
                        <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</button>
                    </form>
                </td>
            </tr>
           }
          
        </tbody>
    </table>
</div>
