@model List<PersonManagementApp.Models.Person>
@{
    ViewData["title"] = "Person Management";
}

<main class="p-8 flex flex-col gap-8">
    <!-- Open the modal using ID.showModal() method -->
    <button class="btn w-fit" onclick="my_modal_1.showModal()">Add Person</button>
    
    <dialog id="my_modal_1" class="modal">
        <div class="modal-box flex flex-col gap-4">
            <h3 class="text-lg font-bold">Add New Person</h3>
            
            <form asp-action="AddPerson" method="post" class="flex flex-col gap-4">
                <input type="text" placeholder="Type here" class="input" name="FirstName" />

                <button type="submit" class="btn">Create</button>
            </form>

            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">close</button>
                </form>
            </div>

        </div>
    </dialog>

   
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Religion</th>
        <th>Birth Place</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      
      @foreach (var person in Model) {
        <tr>
            <td>@person.PersonId</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Gender</td>
            <td>@person.Religion</td>
            <td>@person.BirthPlace</td>
            <td>@person.DateOfBirth</td>
        </tr>
      }
    </tbody>
  </table>
</div>
</main>